[submodule "uikitadditions/AMPAdditions/vendor/UIWebView-RemoveShadow"]
	path = uikitadditions/AMPAdditions/vendor/UIWebView-RemoveShadow
	url = git://github.com/markrickert/UIWebView-RemoveShadow.git
